@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSansFaNum";
  src: local("IRANSansFaNum"), url(/assets/fonts/IRANSansFaNum.eot);
  src: local("IRANSansFaNum"),
    url(/assets/fonts/IRANSansFaNum.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/IRANSansFaNum.woff) format("woff"),
    url(/assets/fonts/IRANSansFaNum.eot) format("woff"),
    url(/assets/fonts/IRANSansFaNum.ttf) format("truetype"),
    url(/assets/fonts/IRANSansFaNum.svg#IRANSansFaNum) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansFaNum-Bold";
  src: local("IRANSansFaNum-Bold"), url(/assets/fonts/IRANSansFaNum-Bold.eot);
  src: local("IRANSansFaNum-Bold"),
    url(/assets/fonts/IRANSansFaNum-Bold.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/IRANSansFaNum-Bold.woff) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Bold.eot) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Bold.ttf) format("truetype"),
    url(/assets/fonts/IRANSansFaNum-Bold.svg#IRANSansFaNum) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansFaNum";
  src: local("IRANSansFaNum"), url(/assets/fonts/IRANSansFaNum-Black.eot);
  src: local("IRANSansFaNum"),
    url(/assets/fonts/IRANSansFaNum-Black.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/IRANSansFaNum-Black.woff) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Black.eot) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Black.ttf) format("truetype"),
    url(/assets/fonts/IRANSansFaNum-Black.svg#IRANSansFaNum) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansFaNum-Medium";
  src: local("IRANSansFaNum-Medium"),
    url(/assets/fonts/IRANSansFaNum-Medium.eot);
  src: local("IRANSansFaNum-Medium"),
    url(/assets/fonts/IRANSansFaNum-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/IRANSansFaNum-Medium.woff) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Medium.eot) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Medium.ttf) format("truetype"),
    url(/assets/fonts/IRANSansFaNum-Medium.svg#IRANSansFaNum) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansFaNum";
  src: local("IRANSansFaNum"), url(/assets/fonts/IRANSansFaNum-Light.eot);
  src: local("IRANSansFaNum"),
    url(/assets/fonts/IRANSansFaNum-Light.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/IRANSansFaNum-Light.woff) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Light.eot) format("woff"),
    url(/assets/fonts/IRANSansFaNum-Light.ttf) format("truetype"),
    url(/assets/fonts/IRANSansFaNum-Light.svg#IRANSansFaNum) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* --------------------------==================================================================------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.orderer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* *********************************table*********************************** */
.ant-table-thead > tr > th {
  background-color: #4f46e5 !important;
  color: #fff !important;
}

.pagination-bx .pagination.pagination-gutter .page-item .page-link:hover,
.pagination-bx .pagination.pagination-gutter .page-item.active .page-link {
  background-color: #4f46e5;
  background-color: var(--primary);
}

.ant-pagination .ant-pagination-item-active a {
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: #4f46e5 !important;
  color: #fff !important;
  outline: none !important;
}

.ant-pagination a {
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: #4f46e5 !important;
  color: #7e808c !important;
  outline: none !important;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: transparent;
}

.ant-pagination-item {
  --headerbg: #b8c3fc;
  --nav-headbg: #a5b4fc;
}

.ant-pagination .ant-pagination-item-active {
  border-color: transparent;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  color: #7e808c !important;
}

.ant-pagination .ant-pagination-item a:hover {
  background-color: #a5b4fc !important;
  color: #fff !important;
  transition: 0.5s;
}

/* *********************************form*********************************** */
.ant-upload-drag .ant-upload-btn {
  padding: 0 !important;
  display: block;
  justify-content: center;
  border: none !important;
  margin-top: -5px;
}

.ant-upload-drag {
  background: transparent;
  border: 1px dashed transparent;
}

.ant-upload-drag:hover {
  background: transparent;
  border: 1px dashed transparent;
}

.ant-form-item-label > label {
  overflow-wrap: normal !important;
  word-break: normal !important;
}

.direction {
  direction: rtl !important;
}

.ant-btn-primary.ant-btn-dangerous:disabled {
  border-color: #e0e7ff !important;
}

.ant-divider-horizontal {
  padding-bottom: 10px !important;
  /* margin: 0 !important;
    padding-top: 0 !important; */
}
.ant-form-item {
  margin-bottom: 8px !important;
}
a {
  text-decoration: none;
}

/****************** New Desgin Tab **************************/

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border: none !important;
}

.ant-tabs-nav-list {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.043137254901960784);
  position: relative;
  border-radius: 0.375rem;
  border-color: transparent;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-right: 10px;
}
.ant-tabs-ink-bar-animated {
  background: white !important;
}
.ant-tabs-tab-active > .ant-tabs-tab-btn {
  --tw-border-opacity: 1 !important;
  background-color: rgba(28, 63, 170, var(--tw-border-opacity)) !important;
  color: white !important;
  font-weight: 500 !important;
  padding: 1rem !important;
  border-radius: 0.375rem !important;
}

/****************** New Desgin table **************************/

.ant-table-thead > tr > th {
  background-color: transparent !important;
  color: #000 !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  border: none;
}

.ant-table-content > table {
  border-spacing: 0 10px;
  border-collapse: separate;
}

.ant-table-wrapper .ant-table {
  background: transparent;
}

.ant-table-row {
  background: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 10%;
}

.td.table-report__action:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
  width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
}

.ant-btn-default:hover {
  border: none !important;
  opacity: .6;
}

.table-report__action:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
  width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
}

